<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/app.css' />
      <link rel='stylesheet' href='/stylesheets/d3.css' />
      <script src="/javascripts/d3.js" type="text/javascript" language="javascript"></script>
      <script src="/javascripts/nv.d3.js" type="text/javascript" language="javascript"></script>
  </head>
  <body>
    <div class="container">
    <% include ./partials/header %>
    <div id="chart">
      
    </div>
    </div>
    <script src="/javascripts/data_events.js" type="text/javascript" language="javascript"></script>
  </body>
</html>