<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <h2>Demos</h3>
    <ul class="unstyled">
      <li><a href="/nvd3">NVD3 Examples</a></li>
      <li><a href="/d3-simple">D3 - Simple Exmaple</a></li>
    </ul>
  </body>
</html>
